---
layout: default
custom_js: ddpullquote
custom_css: ddpullquote
---
<article class="post">

  <div class="row">


    <div id="main-content" role="main" tabindex="-1" class="col-md-9 col-12">
      <header class="post-header">
        {% if page.hero_image %}
        <img src="{{ page.hero_image }}" alt="{{ page.hero_alt }}" />
        {% endif %}
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      </header>
      <p class="post-meta">
        <strong>Post created</strong>: <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.created | date: date_format }}
        </time> {%- if page.author -%}
        • by <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span class="post-author" itemprop="name">{{ page.author | escape }}</span></span>
        {%- endif -%}
      </p>

      <div class="post-content" itemprop="articleBody">
        {% if page.right_portrait %}
        <figure class="image" style="margin:10px 0px 10px 20px; width: 30%; float:right"><img class="" alt="{{page.right_alt}}" src="{{ page.right_portrait }}" style="width:100%;" />
          {% if page.right_caption %}
          <figcaption><em>{{ page.right_caption }}</em></figcaption>
          {% endif %}
        </figure>
        {% endif %}
        {{ content }}
        <hr />

      </div>
    </div>

    <div id="collection-menu" class="col-md-3 col-12">
      <h2 class="h2_titles_side">Spotlight Latest</h2>
      <ul class="news-feed list-unstyled">
        {% for post in site.posts limit:6 %}
        {% if post.hidden != true  %}
        <li>{{ post.date | date: "%b %e, %Y" }}:
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

</article>
